// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

//default button style
.default-btn {
    @extend %p-rel;
    @extend %d-inline-block;
    @include font-size(16px);
    font-family: $text-font;
    color: $title-color;
    padding: 0 1.7rem;
    line-height: 50px;
    transition: $transition;
    background: $theme-color;
    font-weight: 700;


    @include breakpoint(md) {
        padding: 0 2rem;
        line-height: 56px;
    }

    span {
        text-transform: capitalize;

        svg {
            @extend %ml-5;
            @include add-prefix(transition, $transition);
        }
    }

    &--small {
        line-height: 46px;
        padding: 0 1.25rem;
    }




    &--rounded {
        border-radius: 99px;
    }

    @include hover {
        color: $white-color;
        transform: translateY(-3px);
        background: $primary-color;

        svg {
            @include add-prefix(transform, translateX(5px));
        }
    }

    &--style-2 {
        background-color: $primary-color;
        color: $white-color;

        @include hover {
            background-color: $theme-color;
            color: $title-color;

            svg {
                path {
                    fill: $title-color;
                }

            }
        }
    }

    &--outlined {
        background-color: transparent;
        border: 1px solid $theme-color;
        color: $theme-color;

        span {
            svg {
                path {
                    fill: $theme-color;
                }
            }
        }

        &:hover {
            background-color: $theme-color;
            color: $title-color;

            span {
                svg {
                    path {
                        fill: $title-color;
                    }
                }
            }
        }
    }


    &.active {
        background: $primary-color;
    }
}

//text button 
.text-btn {
    display: inline-block;
    color: $black-color;
    font-weight: bold;

    @include breakpoint(lg) {
        @include font-size(20px);
    }

    svg {
        @extend %ml-5;
        @include add-prefix(transition, $transition);
        vertical-align: middle;
    }

    &:hover {
        color: $black-color;

        svg {
            @include add-prefix(transform, translateX(5px));
        }
    }
}